.dashboardLayout {
  display: flex;
  min-height: 100vh;
  background-color: #f7f9fc;
  position: relative;
}

/* Main content area */
.mainContent {
  flex-grow: 1;
  padding: 2rem;
  margin-left: 240px; /* Matches sidebar width */
}

.toggleButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
  background: #09042e;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.3rem;
  font-size: 1.2rem;
  display: none;
}

@media (max-width: 768px) {
  .toggleButton {
    display: block;
  }
}

